USE [master]
GO
/****** Object:  Database [DongHo_CSDL]    Script Date: 10/17/2023 10:36:21 PM ******/
CREATE DATABASE [DongHo_CSDL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DongHo_CSDL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DongHo_CSDL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DongHo_CSDL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DongHo_CSDL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DongHo_CSDL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DongHo_CSDL]
GO
/****** Object:  Table [dbo].[CT_CUNGCAP]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CT_CUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DONDATHANG]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONDATHANG](
	[MADDH] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CT_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DOTKHUYENMAI]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DOTKHUYENMAI](
	[MA_DKM] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
	[PT_KM] [float] NOT NULL,
 CONSTRAINT [PK_CT_DOTKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MA_DKM] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[MAPD] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CT_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHANBAOHANH]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHANBAOHANH](
	[SO_PBH] [int] NOT NULL,
	[MANV_NHAN] [nchar](10) NOT NULL,
	[TRANGTHAI_TRUOC] [nvarchar](50) NOT NULL,
	[NGAY_BD] [date] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUNHANBAOHANH] PRIMARY KEY CLUSTERED 
(
	[SO_PBH] ASC,
	[MANV_NHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUTRABAOHANH]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUTRABAOHANH](
	[SO_PBH] [int] NOT NULL,
	[MANV_TRA] [nchar](10) NOT NULL,
	[TRANGTHAI_SAU] [nvarchar](50) NOT NULL,
	[NGAY_KT] [date] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUTRABAOHANH] PRIMARY KEY CLUSTERED 
(
	[SO_PBH] ASC,
	[MANV_TRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUTRAHANG]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUTRAHANG](
	[MAPD] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
	[MAPTH] [nchar](10) NOT NULL,
	[SOLUONG_TRA] [int] NOT NULL,
 CONSTRAINT [PK_CT_PHIEUTRAHANG] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC,
	[MADH] ASC,
	[MAPTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_THAYDOIGIA]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_THAYDOIGIA](
	[MANV_TD] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
	[GIA_MOI] [float] NOT NULL,
	[THOIGIAN_TD] [date] NOT NULL,
 CONSTRAINT [PK_CT_THAYDOIGIA] PRIMARY KEY CLUSTERED 
(
	[MANV_TD] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [nchar](10) NOT NULL,
	[NGAYDH] [date] NOT NULL,
	[MANCC] [nchar](10) NOT NULL,
	[MANV_LAP] [nchar](10) NOT NULL,
	[MAPN] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGHO]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGHO](
	[MADH] [nchar](10) NOT NULL,
	[TENDH] [nvarchar](20) NOT NULL,
	[GIA] [int] NOT NULL,
	[SLTON] [int] NOT NULL,
	[MOTA] [nvarchar](50) NOT NULL,
	[TRANGTHAI] [nchar](10) NOT NULL,
	[HINHANH] [image] NULL,
	[LOAIHD] [nchar](10) NOT NULL,
	[HANGDH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DONGHO] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOTKHUYENMAI]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTKHUYENMAI](
	[MA_DKM] [nchar](10) NOT NULL,
	[LYDO_KM] [nvarchar](100) NULL,
	[NGAY_BD] [date] NOT NULL,
	[NGAY_KT] [date] NOT NULL,
	[MANV_TAO] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DOTKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MA_DKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGDONGHO]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGDONGHO](
	[MAHANGDH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HANGDONGHO] PRIMARY KEY CLUSTERED 
(
	[MAHANGDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[NGAY_IN_HD] [datetime] NOT NULL,
	[TONG_TIEN] [float] NOT NULL,
	[MA_SOTHUE] [nchar](20) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[MANV_DUYET_VA_IN] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[HO] [nchar](10) NOT NULL,
	[TEN] [nchar](10) NOT NULL,
	[GIOITINH] [nchar](4) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[DIACHI] [nvarchar](40) NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nvarchar](30) NOT NULL,
	[MA_SOTHUE] [nchar](20) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDONGHO]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDONGHO](
	[MALOAIDH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LOAIDONGHO] PRIMARY KEY CLUSTERED 
(
	[MALOAIDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](10) NOT NULL,
	[TENNCC] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[EMAIL] [nchar](30) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ UK_EMAIL_NHACUNGCAP] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_SDT_NHACUNGCAP] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENNCC_NHACUNGCAP] UNIQUE NONCLUSTERED 
(
	[TENNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[GIOITINH] [nchar](3) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](30) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nchar](30) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_EMAIL_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_SDT_NHANVIEN] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[SO_PBH] [int] NOT NULL,
	[MANV_LAP] [nchar](10) NOT NULL,
	[MADH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUBAOHANH] PRIMARY KEY CLUSTERED 
(
	[SO_PBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPD] [nchar](10) NOT NULL,
	[NGAY_DAT] [datetime] NOT NULL,
	[HOTEN_NGUOI_NHAN] [nvarchar](40) NOT NULL,
	[DIACHI_NGUOI_NHAN] [nvarchar](40) NOT NULL,
	[SDT_NGUOI_NHAN] [nchar](10) NOT NULL,
	[NGAYGIO_GIAOHANG] [datetime] NOT NULL,
	[SOHD] [nchar](10) NOT NULL,
	[MAPGH] [nchar](10) NOT NULL,
	[MANV_LAP] [nchar](10) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[TRANGTHAI] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MAPGH] [nchar](10) NOT NULL,
	[NGAY_GIAO] [datetime] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[SOHD] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[MAPGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](10) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[MANV_LAP] [nchar](10) NOT NULL,
	[MADDH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRAHANG]    Script Date: 10/17/2023 10:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRAHANG](
	[MAPTH] [nchar](10) NOT NULL,
	[SOHD] [nchar](10) NULL,
	[MANV_LAP] [nchar](10) NULL,
 CONSTRAINT [PK_PHIEUTRAHANG] PRIMARY KEY CLUSTERED 
(
	[MAPTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [MA_SOTHUE]    Script Date: 10/17/2023 10:36:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MA_SOTHUE] ON [dbo].[HOADON]
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONGHO] ADD  CONSTRAINT [DF_DONGHO_SLTON]  DEFAULT ((0)) FOR [SLTON]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [DF_NHACUNGCAP_DIACHI]  DEFAULT (' ') FOR [DIACHI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT (N'Nữ') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_DIACHI]  DEFAULT (' ') FOR [DIACHI]
GO
ALTER TABLE [dbo].[PHIEUDAT] ADD  CONSTRAINT [DF_PHIEUDAT_TRANGTHAI]  DEFAULT (N'Chờ duyệt') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CT_CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_CUNGCAP_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CUNGCAP] CHECK CONSTRAINT [FK_CT_CUNGCAP_DONGHO]
GO
ALTER TABLE [dbo].[CT_CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_CUNGCAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_CUNGCAP] CHECK CONSTRAINT [FK_CT_CUNGCAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[CT_DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONDATHANG_DONDATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DONDATHANG] CHECK CONSTRAINT [FK_CT_DONDATHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CT_DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONDATHANG_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DONDATHANG] CHECK CONSTRAINT [FK_CT_DONDATHANG_DONGHO]
GO
ALTER TABLE [dbo].[CT_DOTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOTKHUYENMAI_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[CT_DOTKHUYENMAI] CHECK CONSTRAINT [FK_CT_DOTKHUYENMAI_DONGHO]
GO
ALTER TABLE [dbo].[CT_DOTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DOTKHUYENMAI_DOTKHUYENMAI] FOREIGN KEY([MA_DKM])
REFERENCES [dbo].[DOTKHUYENMAI] ([MA_DKM])
GO
ALTER TABLE [dbo].[CT_DOTKHUYENMAI] CHECK CONSTRAINT [FK_CT_DOTKHUYENMAI_DOTKHUYENMAI]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_DONGHO1] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_DONGHO1]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT]
GO
ALTER TABLE [dbo].[CT_PHIEUNHANBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHANBAOHANH_NHANVIEN] FOREIGN KEY([MANV_NHAN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_PHIEUNHANBAOHANH] CHECK CONSTRAINT [FK_CT_PHIEUNHANBAOHANH_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUNHANBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHANBAOHANH_PHIEUBAOHANH] FOREIGN KEY([SO_PBH])
REFERENCES [dbo].[PHIEUBAOHANH] ([SO_PBH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHANBAOHANH] CHECK CONSTRAINT [FK_CT_PHIEUNHANBAOHANH_PHIEUBAOHANH]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_DONGHO]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUTRABAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRABAOHANH_NHANVIEN] FOREIGN KEY([MANV_TRA])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_PHIEUTRABAOHANH] CHECK CONSTRAINT [FK_CT_PHIEUTRABAOHANH_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUTRABAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRABAOHANH_PHIEUBAOHANH] FOREIGN KEY([SO_PBH])
REFERENCES [dbo].[PHIEUBAOHANH] ([SO_PBH])
GO
ALTER TABLE [dbo].[CT_PHIEUTRABAOHANH] CHECK CONSTRAINT [FK_CT_PHIEUTRABAOHANH_PHIEUBAOHANH]
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRAHANG_CT_PHIEUDAT] FOREIGN KEY([MADH], [MAPD])
REFERENCES [dbo].[CT_PHIEUDAT] ([MAPD], [MADH])
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG] CHECK CONSTRAINT [FK_CT_PHIEUTRAHANG_CT_PHIEUDAT]
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRAHANG_PHIEUDAT] FOREIGN KEY([MAPD])
REFERENCES [dbo].[PHIEUDAT] ([MAPD])
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG] CHECK CONSTRAINT [FK_CT_PHIEUTRAHANG_PHIEUDAT]
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTRAHANG_PHIEUTRAHANG] FOREIGN KEY([MAPTH])
REFERENCES [dbo].[PHIEUTRAHANG] ([MAPTH])
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG] CHECK CONSTRAINT [FK_CT_PHIEUTRAHANG_PHIEUTRAHANG]
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_THAYDOIGIA_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA] CHECK CONSTRAINT [FK_CT_THAYDOIGIA_DONGHO]
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_THAYDOIGIA_NHANVIEN] FOREIGN KEY([MANV_TD])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA] CHECK CONSTRAINT [FK_CT_THAYDOIGIA_NHANVIEN]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHANVIEN] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_PHIEUNHAP]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_HANGDONGHO] FOREIGN KEY([HANGDH])
REFERENCES [dbo].[HANGDONGHO] ([MAHANGDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_HANGDONGHO]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [FK_DONGHO_LOAIDONGHO] FOREIGN KEY([LOAIHD])
REFERENCES [dbo].[LOAIDONGHO] ([MALOAIDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [FK_DONGHO_LOAIDONGHO]
GO
ALTER TABLE [dbo].[DOTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_DOTKHUYENMAI_NHANVIEN] FOREIGN KEY([MANV_TAO])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DOTKHUYENMAI] CHECK CONSTRAINT [FK_DOTKHUYENMAI_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV_DUYET_VA_IN])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_DONGHO] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONGHO] ([MADH])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_DONGHO]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUBAOHANH_NHANVIEN] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_PHIEUBAOHANH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_HOADON]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_PHIEUGIAOHANG] FOREIGN KEY([MAPGH])
REFERENCES [dbo].[PHIEUGIAOHANG] ([MAPGH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_PHIEUGIAOHANG]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAOHANG_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIAOHANG_HOADON]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAOHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIAOHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DONDATHANG] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DONDATHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN1] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRAHANG_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[PHIEUTRAHANG] CHECK CONSTRAINT [FK_PHIEUTRAHANG_HOADON]
GO
ALTER TABLE [dbo].[PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRAHANG_NHANVIEN] FOREIGN KEY([MANV_LAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTRAHANG] CHECK CONSTRAINT [FK_PHIEUTRAHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_DONDATHANG]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA_CTDONDATHANG] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CT_DONDATHANG] CHECK CONSTRAINT [CK_DONGIA_CTDONDATHANG]
GO
ALTER TABLE [dbo].[CT_DONDATHANG]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG_CTDONDATHANG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONDATHANG] CHECK CONSTRAINT [CK_SOLUONG_CTDONDATHANG]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CT_PHIEUTRABAOHANH]  WITH CHECK ADD  CONSTRAINT [NGAY_KT] CHECK  (([NGAY_KT]>=getdate()))
GO
ALTER TABLE [dbo].[CT_PHIEUTRABAOHANH] CHECK CONSTRAINT [NGAY_KT]
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG]  WITH CHECK ADD  CONSTRAINT [SOLUONG_TRA] CHECK  (([SOLUONG_TRA]>=(0)))
GO
ALTER TABLE [dbo].[CT_PHIEUTRAHANG] CHECK CONSTRAINT [SOLUONG_TRA]
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA]  WITH CHECK ADD  CONSTRAINT [CK_CT_THAYDOIGIA] CHECK  (([GIA_MOI]>=(0)))
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA] CHECK CONSTRAINT [CK_CT_THAYDOIGIA]
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA]  WITH CHECK ADD  CONSTRAINT [CK_CT_THAYDOIGIA_1] CHECK  (([THOIGIAN_TD]<=getdate()))
GO
ALTER TABLE [dbo].[CT_THAYDOIGIA] CHECK CONSTRAINT [CK_CT_THAYDOIGIA_1]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [CK_GIA_DONGHO] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [CK_GIA_DONGHO]
GO
ALTER TABLE [dbo].[DONGHO]  WITH CHECK ADD  CONSTRAINT [CK_SLTON_DONGHO] CHECK  (([SLTON]>=(0)))
GO
ALTER TABLE [dbo].[DONGHO] CHECK CONSTRAINT [CK_SLTON_DONGHO]
GO
ALTER TABLE [dbo].[DOTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_DOTKHUYENMAI] CHECK  (([NGAY_BD]<=getdate()))
GO
ALTER TABLE [dbo].[DOTKHUYENMAI] CHECK CONSTRAINT [CK_DOTKHUYENMAI]
GO
ALTER TABLE [dbo].[DOTKHUYENMAI]  WITH NOCHECK ADD  CONSTRAINT [CK_DOTKHUYENMAI_1] CHECK  (([NGAY_KT]>=getdate()))
GO
ALTER TABLE [dbo].[DOTKHUYENMAI] NOCHECK CONSTRAINT [CK_DOTKHUYENMAI_1]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_NGAY_IN_HD] CHECK  (([NGAY_IN_HD]<=getdate()))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_NGAY_IN_HD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_TONG_TIEN] CHECK  (([TONG_TIEN]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_TONG_TIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH_NHANVIEN] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINH_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [CK_NGAY_DAT] CHECK  (([NGAY_DAT]<=getdate()))
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [CK_NGAY_DAT]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [CK_NGAYGIO_GIAOHANG] CHECK  (([NGAYGIO_GIAOHANG]>=getdate()))
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [CK_NGAYGIO_GIAOHANG]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAI] CHECK  (([TRANGTHAI]='Ch? duy?t' OR [TRANGTHAI]='Ðã phân công nhân viên giao hàng' OR [TRANGTHAI]='Hoàn t?t' OR [TRANGTHAI]='Ðã h?y'))
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [CK_TRANGTHAI]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [CK_NGAY_GIAO] CHECK  (([NGAY_GIAO]>=getdate()))
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [CK_NGAY_GIAO]
GO
USE [master]
GO
